html,
body {
  height: 100vh;
  overflow-y: hidden;
  background: black;
}

.container-fluid {
  height: 100vh;
  color: white;
}

.slide {
  width: 100%;
  overflow-x: auto;
}

.slide .list {
  float: left;
  display: inline-block;
  width: 35%;
}

.slide .map {
  display: inline-block;
  width: 65%;
}

.restaurant-list {
  background: darkcyan;
  height: calc(100vh - 166px);
  overflow-y: auto;
  font-size: .9em;
}

.map-container {
  width: 100%;
  height: calc(100vh - 166px);
}

.restaurant-item {
  cursor: pointer;
}

.restaurant-item:hover,
.restaurant-item.highlight {
  background: darkslategray;
  transition: background-color .2s ease-in;
}

.pin {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 4px solid deeppink;
  background: white;
}

.pin::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 10px;
  content: '';
  background: deeppink;
}

.pin:hover,
.pin.highlight {
  z-index: 2;
  cursor: pointer;
  border-color: green;
}

.pin:hover::after,
.pin.highlight::after {
  background: green;
}

.pin .card {
  position: relative;
  z-index: 1;
  position: absolute;
  width: 80px;
  max-width: 150px;
  max-height: 100px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 13px));
  text-align: center;
}

.pin:hover .card,
.pin.highlight .card {
  z-index: 3;
}

.pin .card .card-body {
  padding: 2px;
  background: deeppink;
  color: white;
}


.pin:hover .card .card-body,
.pin.highlight .card .card-body {
  background: green
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  overflow-y: auto !important;
  background: rgba(0, 0, 0, .7) !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  overflow: visible !important;
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  padding: 0 !important;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  /* height: 85vh; */
}

.card.restaurant-details .card-header {
  position: relative;
}

.card.restaurant-details .modal-close {
  position: absolute;
  right: -2px;
  top: 50%;
  width: 50px;
  height: 50px;;
  transform: translateY(-52%);
  color: black;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

@media all and (max-width: 991px) {
  .container-fluid {
    padding: 0;
  }

  .slide .slide-content {
    width: 991px;
  }

  .ReactModal__Content.ReactModal__Content--after-open {
    width: 90vw;
    height: 90vh;
  }
}